@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;400&family=Shantell+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Josefin Sans', sans-serif;
}

header {
    width: 100%;
    height: 60px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #006373;
    font-size: 0.9rem;
}

.logo img {
    width: 70px;
    margin-right: 15px;
}

nav {
    width: 90%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    display: inline-flex;
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    margin: 0 8px;
    font-size: 0.8rem;
}

.banner {
    margin: 20px auto;
    padding: 15px;
    width: 90%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    text-align: center;
    border: 1px solid gray;
    border-radius: 10px;
}

.banner .titulo {
    margin-bottom: 40px;

}

section {
    margin: auto;
    width: 90%;
}

.container {
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: center;
}

.card {
    margin-top: 15px;
    width: 100%;
    height: 530px;
    display: inline-flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
}

.image {
    margin: 20px auto;
}

.image img {
    width: 160px;
}

.descricao {
    margin: 10px;
}

.avaliacao {
    display: flex;
    padding-left: 10px;
    align-items: center;
}

.avaliacao h6 {
    margin-left: 10px;
    margin-top: 5px;
    color: gray;
    font-size: 0.8rem;
}

.depreciado {
    height: 20px;
    margin-top: 17px;
    display: flex;
    align-items: center;
}

.depreciado p {
    margin-left: 10px;
}

#depreciado {
    text-decoration: line-through;
}

#desconto {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 20px;
    background-color: #006373;
    border-radius: 20px;
    color: white;
    font-weight: 500;
}

.preco {
    margin-top: 17px;
    margin-left: 10px;
    font-size: 1.2rem;
}

.condicao {
    height: 40px;
    margin-top: 17px;
}

.condicao h6 {
    margin-left: 10px;
    font-size: 1.0rem;
    color: gray;
}

.botao {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    cursor: pointer;
    width: 110px;
    height: 40px;
    background-color: #006373;
    border-radius: 30px;
    border: none;
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
}

button:hover {
    box-shadow: #006373 0px 0px 0px 2px, #006373 0px 4px 4px -1px, #006373 0px 1px 0px inset;
    color: white;
}

footer {
    background-color: rgb(104, 50, 205);
    height: 300px;
}

.container-abaixo {
    width: 100%;
    background-color: rgb(7, 112, 161);
}

.banner-abaixo {
    margin: 20px auto;
    padding: 15px;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    text-align: center;
    border: 1px solid gray;
    border-radius: 10px;
}

.pops {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.pop1,
.pop2,
.pop3,
.pop4 {
    background-color: white;
    margin: 10px;
}

@media only screen and (min-width: 500px) {

    header nav ul li a {
        font-size: 1.0rem;
    }
}

@media only screen and (min-width: 700px) {

    section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }

    .card {
        width: 300px;
    }
}

@media only screen and (min-width: 1030px) {
    section {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }

    .card {
        width: 300px;
    }
}