@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;400&family=Shantell+Sans:wght@300&display=swap');

:root {
    --cor-primary: #006373;
    --cor-second: #148fa1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Josefin Sans', sans-serif;
}

header {
    width: 100%;
    height: 60px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-primary);
    font-size: 0.9rem;
}

.logo img {
    width: 70px;
    margin-right: 15px;
}

nav {
    width: 90%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    display: inline-flex;
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    margin: 0 8px;
    font-size: 0.9rem;
}

.banner {
    margin: 20px auto;
    padding: 15px;
    width: 90%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    text-align: center;
    border: 1px solid gray;
    border-radius: 10px;
}

.banner .titulo {
    margin-bottom: 40px;

}

section {
    margin: auto;
    width: 90%;
}

.container {
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: center;
}

.card {
    margin-top: 15px;
    width: 100%;
    height: 530px;
    display: inline-flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
}

.image {
    margin: 20px auto;
}

.image img {
    width: 160px;
}

.descricao {
    margin: 10px;
}

.avaliacao {
    display: flex;
    padding-left: 10px;
    align-items: center;
}

.avaliacao h6 {
    margin-left: 10px;
    margin-top: 5px;
    color: gray;
    font-size: 0.8rem;
}

.depreciado {
    height: 20px;
    margin-top: 17px;
    display: flex;
    align-items: center;
}

.depreciado p {
    margin-left: 10px;
}

#depreciado {
    text-decoration: line-through;
}

#desconto {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 20px;
    background-color: var(--cor-primary);
    border-radius: 20px;
    color: white;
    font-weight: 500;
}

.preco {
    margin-top: 17px;
    margin-left: 10px;
    font-size: 1.2rem;
}

.condicao {
    height: 40px;
    margin-top: 17px;
}

.condicao h6 {
    margin-left: 10px;
    font-size: 1.0rem;
    color: gray;
}

.botao {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    cursor: pointer;
    width: 110px;
    height: 40px;
    background-color: var(--cor-primary);
    border-radius: 30px;
    border: none;
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
}

button:hover {
    box-shadow: var(--cor-primary) 0px 0px 0px 2px, var(--cor-primary) 0px 4px 4px -1px, var(--cor-primary) 0px 1px 0px inset;
    color: white;
}


.container-abaixo {
    width: 100%;
}

.banner-abaixo {
    margin: 20px auto;
    padding: 15px;
    width: 90%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    text-align: center;
    border: 1px solid gray;
    border-radius: 10px;
}

.pops {
    margin: auto;
    width: 90%;
    display: flex;
    justify-content: space-around;
}

.pop1,
.pop2,
.pop3,
.pop4 {
    background-color: var(--cor-primary);
    margin: 0 10px 10px 10px;
    width: 80px;
    height: 60px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    font-size: 0.9rem;
}

.pop1:hover,
.pop2:hover,
.pop3:hover,
.pop4:hover {
    background-color: var(--cor-second);
    font-weight: 600;
}

.site-footer {
    background-color: var(--cor-primary);
    padding: 45px 10px 20px;
    line-height: 24px;
    color: white;
    text-align: justify;
}

.site-footer h6 {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px
}

.site-footer a {
    color: var(--cor-second);
}

.site-footer a:hover {
    color: #000000;
    text-decoration: none;
}

.footer-links {
    padding-left: 0;
    padding-top: 10px;
    list-style: none
}

.footer-links li {
    display: block
}

.footer-links a {
    color: var(--cor-second);
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
    color: #000000;
    text-decoration: none;
}

.footer-links.inline li {
    display: inline-block;
}

.site-footer .social-icons {
    text-align: center;
}

.site-footer .social-icons a {
    margin-top: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
    background-color: #ffffff;
}

.copyright-text {
    text-align: center;
    margin: 15px 0;
}

.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.social-icons li {
    display: inline-block;
    margin-bottom: 4px
}

.social-icons li.title {
    margin-right: 15px;
    text-transform: uppercase;
    color: #96a2b2;
    font-weight: 700;
    font-size: 13px
}

.social-icons a {
    background-color: #eceeef;
    color: #818a91;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
    color: #fff;
    background-color: #29aafe
}

.social-icons.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px
}

.social-icons a.facebook:hover,
.social-icons a.twitter:hover,
.social-icons a.linkedin:hover,
.social-icons a.dribbble:hover {
    background-color: var(--cor-second);
}

@media (max-width:767px) {
    .social-icons li.title {
        display: block;
        margin-right: 0;
        font-weight: 600
    }
}


@media only screen and (min-width: 500px) {

    header nav ul li a {
        font-size: 1.0rem;
    }

    .card {
        width: 90%;
    }

    .site-footer .social-icons a {
        margin-top: 20px;
    }
}

@media only screen and (min-width: 700px) {

    section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }

    .card {
        width: 300px;
    }
}

@media only screen and (min-width: 1030px) {
    section {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }

    .card {
        width: 300px;
    }
}